<div class="col-6">
  <div class="mb-3">
    <h5 class="mb-0 fw-bolder">Bookmarks</h5>
    <span class="fs-6 text-muted">@<%= current_user.username %></span>
  </div>

  <div id="tweets">
    <%= render partial: "tweets/tweet", collection: @tweets, as: :tweet_presenter %>
  </div>
</div>

<div class="col">
  <%= render "shared/hashtag_sidebar" %>
</div>
