.btn-twitter {
  background-color: $twitter-blue;
  color: $white;
  font-weight: 400;
  transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;

  &:hover {
    background-color: $twitter-blue-dark;
    color: $white;
  }
}

.btn-twitter-outline {
  background-color: $white;
  color: $twitter-blue;
  border-color: $twitter-blue;
  font-weight: 400;
  transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;

  &:hover {
    background-color: $twitter-blue;
    color: $white;
  }
}
