.tweet {
  transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;

  &.hover {
    &:hover {
      background-color: $gray-100;
      cursor: pointer;
    }
  }

  .action-links {
    a > span {
      position: relative;
      top: 2px;
    }

    a {
      span {
        position: relative;
        top: 2px;
      }
      
      &.views, &.replies, &.bookmark {
        &:hover {
          color: $twitter-blue !important;
        }
      }

      &.retweets {
        &:hover {
          color: $green-300 !important;
        }
      }

      &.retweeted {
        color: $green-300 !important;
      }

      &.like {
        &:hover {
          color: $red-500 !important;
        }
      }

      &.liked {
        color: $red-500 !important;
      }
    }
  }
}